assets/log-n.gif filter=lfs diff=lfs merge=lfs -text
assets/log-s.gif filter=lfs diff=lfs merge=lfs -text
assets/status-enter.gif filter=lfs diff=lfs merge=lfs -text
assets/log-b.gif filter=lfs diff=lfs merge=lfs -text
assets/log-d.gif filter=lfs diff=lfs merge=lfs -text
assets/log-r.gif filter=lfs diff=lfs merge=lfs -text
assets/log-u.gif filter=lfs diff=lfs merge=lfs -text
assets/log-visual-n.gif filter=lfs diff=lfs merge=lfs -text
assets/log-a.gif filter=lfs diff=lfs merge=lfs -text
assets/log-ctrl-r.gif filter=lfs diff=lfs merge=lfs -text
assets/log-ctrl-s.gif filter=lfs diff=lfs merge=lfs -text
assets/log-enter.gif filter=lfs diff=lfs merge=lfs -text
assets/log-m.gif filter=lfs diff=lfs merge=lfs -text
