assets/Abandon-undo-redo.gif filter=lfs diff=lfs merge=lfs -text
assets/Bookmarks.gif filter=lfs diff=lfs merge=lfs -text
assets/Describe.gif filter=lfs diff=lfs merge=lfs -text
assets/Diff.gif filter=lfs diff=lfs merge=lfs -text
assets/script.sh filter=lfs diff=lfs merge=lfs -text
assets/Status-file-nav.gif filter=lfs diff=lfs merge=lfs -text
